# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Data / notebooks
*.csv
*.parquet
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Env
.env
.env.*
